.ceve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.amap{
    padding: 20px;
    width: 50rem;
    height:30rem;
    
}
.formc{
    padding: 20px;
    width: 50rem;
}